@model BigRedTicketExchange.Models.HomeIndexViewModel
@using BigRedTicketExchange.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
    Sport Football = Model.Sports.Where(x => x.Name == "Football").Single();
    Sport Volleyball = Model.Sports.Where(x => x.Name == "Volleyball").Single();
    Sport Basketball = Model.Sports.Where(x => x.Name == "Basketball").Single();
}

<div class="jumbotron">
    <h1>Big Red Ticket Exchange</h1>
    <img src="/Home/Banner.PNG" />
    <p class="lead">Connect with buyers and sellers in a streamlined student ticked exhcanged expierience!</p>

</div>
<div class="row">
    <div class="col-sm-4">
        <button id="footballbutton"><img src="/Home/FootballButton.PNG" /></button>
        <div id="fsched" style="display: none;">
            @Html.Partial("~/Views/Sport/_FootballPartial.cshtml", Football)
        </div>
    </div>
    <div class="col-sm-4">
        <button id="basketballbutton"><img src="/Home/BasketballButton.PNG" /></button>
        <div id="bsched" style="display: none;">
            @Html.Partial("~/Views/Sport/_BasketballPartial.cshtml", Basketball)
        </div>
    </div>
    <div class="col-sm-4">
        <button id="volleyballbutton"><img src="/Home/VolleyballButton.PNG" /></button>
        <div id="vsched" style="display: none;">
            @Html.Partial("~/Views/Sport/_VolleyballPartial.cshtml", Volleyball)
        </div>
    </div>
</div>

@if(User.Identity.IsAuthenticated == true)
{ 

<script type="text/javascript">
    $(function () {
        $('#footballbutton').click(function () {
            $('#fsched').toggle();

        });
        $('#volleyballbutton').click(function () {
            $('#vsched').toggle();

        });
        $('#basketballbutton').click(function () {
            $('#bsched').toggle();

        });
    });
    $(function () {
        $('#fsellticket').click(function () {
            $(userinfomodal).modal('show');
        });
        $('#vsellticket').click(function () {
            $(userinfomodal).modal('show');
        });
        $('#bsellticket').click(function () {
            $(userinfomodal).modal('show');
        });
    });
</script>
}
else
{
    <script type="text/javascript">
        $(function () {
            $('#footballbutton').click(function () {
                $('#fsched').toggle();

            });
            $('#volleyballbutton').click(function () {
                $('#vsched').toggle();

            });
            $('#basketballbutton').click(function () {
                $('#bsched').toggle();

            });
        });
        $(function () {
            $('#fsellticket').click(function () {
                window.location.href = "/Account/Login/"
                $(userinfomodal).modal('show');
            });
            $('#vsellticket').click(function () {
                window.location.href = "/Account/Login/"
            });
            $('#bsellticket').click(function () {
                window.location.href = "/Account/Login/"
            });
        });
    </script>
}


<div class="modal fade" id="userinfomodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Input User Info</h3>
            </div>
            <div class="modal-body">
                <p>First Name: <input id="firstName" /> Last Name: <input id="lastName" /></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save Changes</a>
            </div>
        </div>
    </div>
</div>