@model BigRedTicketExchange.Models.HomeIndexViewModel
@using BigRedTicketExchange.Models

@{
    ViewBag.Title = "Home Page";
    Sport Football = Model.Sports.Where(x => x.Name == "Football").Single();
}

<div class="jumbotron">
    <h1>Big Red Ticket Exchange</h1>
    <p class="lead">Connect with buyers and sellers in a streamlined student ticked exhcanged expierience!</p>

</div>
<div class="row">
    <div class="col-sm-4">
        <button>Football</button>
        @Html.Partial("~/Views/Sport/_FootballPartial.cshtml", Football)
    </div>
    <div class="col-sm-4">
        <button>Men's Basketball</button>
    </div>
    <div class="col-sm-4">
        <button>Volleyball</button>
    </div>
</div>
