@model BigRedTicketExchange.Models.HomeIndexViewModel
@using BigRedTicketExchange.Models

@{
    ViewBag.Title = "Home Page";
    Sport Football = Model.Sports.Where(x => x.Name == "Football").Single();
}

<div class="jumbotron">
    <h1>Big Red Ticket Exchange</h1>
    <p class="lead">Connect with buyers and sellers in a streamlined student ticked exhcanged expierience!</p>

</div>
<div class="row">
    <div class="col-sm-4">
        <button id="footballbutton" ><img src="/Home/FootballButton.PNG" /></button>
        <div id="sched" style="display: none;">
        @Html.Partial("~/Views/Sport/_FootballPartial.cshtml", Football)
            </div>
    </div>
    <div class="col-sm-4">
        <button>Men's Basketball</button>
    </div>
    <div class="col-sm-4">
        <button>Volleyball</button>
    </div>
</div>


<script type="text/javascript">
$(function () {
    $('#footballbutton').click(function () {
  $('#sched').toggle();

});
});
</script>