@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Big Red Ticket Exchange</h1>
    <p class="lead">Connect with buyers and sellers in a streamlined student ticked exhcanged expierience!</p>

</div>
<div class="row">
    <div class="col-sm-4">
        <button>Football</button>
    </div>
    <div class="col-sm-4">
        <button>Men's Basketball</button>
    </div>
    <div class="col-sm-4">
        <button>Volleyball</button>
    </div>
</div>
