@Model BigRedTicketExchange.Models.ManageTicketsViewModel


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div style="background-color: rgba(255, 255, 255, 0.30)">
    <h3>Are you sure you want to delete this ticket to @Model.Game.Opponent?</h3>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>